* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

#center {
	background:antiquewhite;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}

#logo {
	padding:0px;
	width:270px;
	height:270px;
}

#OV {
	position: absolute;
	top:28%;
	bottom:22%;
	left:15%;
	right:65%;
}

#socials {
	display:none;
	position:absolute;
	top:10%;
	bottom:10%;
	right:25%;
}

button {
	background-color: antiquewhite;
	border:none;
}


.paragraph {
	display: flex;
}

h2 {
	font-size: 1.5em;
	font-style: italic;
	padding-right: 5px;
}

#paragraph p {
	margin-top:35px;
	font-size: 1em;
}

.listItem {
	list-style: none;
	border-radius: 10px;
	border: transparent black;
	padding:10px;
	margin:10px;
	width:135px;
	height:135px;
}

.hide {
	position:relative;
	float:left;
	display:none;
}
