* {
	background: floralwhite;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}


@media (max-width: 991px){
button {
	background-color: floralwhite;
	border: none;
}

#logo {
	width:140px;
	height:140px;
	margin-top:15px;
	margin-bottom:50px;
}

#OV {
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	font-size: 1.25em;
}

#socials {
	position:absolute;
	align-items: center;
	right:25%;
	left:25%;
}

.long {
	display:none;
}

.tall {
	display:block;
}

.listItem {
	float:left;
	list-style: none;
	border-radius: 10px;
	border: transparent black;
	width:80px;
	height:80px;
}

.hide {
	position:relative;
	float:left;
	display:none;
}


}

@media (min-width: 992px) {
#center {
	background:floralwhite;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}

#logo {
	padding:0px;
	width:270px;
	height:270px;
}

#OV {
	text-align: left;
	position: absolute;
	top:28%;
	bottom:22%;
	left:15%;
	right:65%;
}

#socials {
	display:none;
	position:absolute;
	top:10%;
	bottom:10%;
	right:20%;
}

button {
	background-color: floralwhite;
	border:none;
}

h2 {
	font-size: 1.5em;
	font-style: italic;
	padding-right: 5px;
}

#paragraph p {
	text-align: left;
	margin-top:35px;
	font-size: 1em;
}

.long {
	display:block;
}

.tall {
	display:none;
}

.listItem {
	float: none;
	list-style: none;
	border-radius: 10px;
	border: transparent black;
	padding:10px;
	margin:10px;
	width:135px;
	height:135px;
}

.hide {
	position:relative;
	float:left;
	display:none;
}
}