* {
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}

header {
	font-size: 2em;
	color: maroon;
	text-align: center;
}

#LogoAni {
	width: 540px;
	heignt: 540px;
}

.container h1 {
	font-size: 3em;
	margin-bottom: 100px;
}

#A1 {
	margin-bottom: 150px;
}

#lines {
	width: 540px;
	height: 540px;
}

#A1 p {
	padding: 10px;
	font-size: 1.5em;
	text-align: center;
}

#A2 {
	margin-bottom: 150px;
}

#A2 p{
	padding: 10px;
	font-size: 1.5em;
	text-align: center;
}

#face {
	width: 270px;
	height: 270px;
}

#hand {
	width: 270px;
	height: 270px;
}

#A3 p {
	padding: 10px;
	font-size: 1.5em;
	text-align: center;
}

#press {
	width: 270px;
	height: 270px;
}

#learn {
	background: lightseagreen;
	border-radius: 50px;
	width: 270px;
	height: 270px;
}

