* {
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
	background-color: antiquewhite;
}

header {
	font-size: 2em;
	color: rgb(154, 69, 154);
	text-align: center;
}

#LogoAni {
	width: 270px;
	height: 270px;
}

.container h1 {
	font-size: 3em;
	margin-bottom: 100px;
}

#A1 {
	margin-bottom: 200px;
}

#lines {
	width: 540px;
	height: 540px;
}

#A1 p {
	padding: 10px;
	font-size: 1.5em;
	text-align: center;
}

#A2 {
	margin-bottom: 200px;
}

#A2 p{
	padding: 10px;
	font-size: 1.5em;
	text-align: center;
}

#face {
	width: 270px;
	height: 270px;
}

#hand {
	width: 270px;
	height: 270px;
}

#A3 {
	margin-bottom: 200px;
}

#A3 p {
	padding: 10px;
	font-size: 1.5em;
	text-align: center;
}

#press {
	width: 270px;
	height: 270px;
}

#learn {
	width: 270px;
	height: 270px;
}

#A4 {
	margin-bottom: 100px;
}

iframe {
	display: block;
	margin: 0 auto;
	width: 960px;
	height: 540px;
}

#A4 p {
	padding: 10px;
	font-size: 1.5em;
	text-align: center;
	margin-top: 25px;
	margin-left: 25%;
	margin-right: 25%;

}

